* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

button {
  font-size: 1.7em;

  width: 65px;
  height: 65px;

  border: none;
  border-radius: 50%;

  margin: 5px;

  outline: none;
}
/* So I guess where there are errors in correct length/width, it could be because I didn't give it enough space? */
.container {
  width: 320px;
  height: 500px;
  background-color: black;

  border-radius: 5px;
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
}

.label {
  font-size: 3.3em;
  height: 100px;
  margin: 0 20px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container > div {
  margin: 0 10px;
  display: flex;

  justify-content: space-around;
}



/* Disappear Transition */

.disappear-transition {
  transition: background-color 500ms;
  transition-timing-function: ease-in;
}



/* Numbers */

.zero {
  width: 135px;
  height: 65px;

  border-radius: 50px;
}

.number {
  background-color: hsla(0, 0%, 30%, 1);
}

.number:active {
  background-color: hsla(0, 0%, 50%, 1);
}





/* Special */

.special {
  color: black;
  background-color: hsla(0, 0%, 75%, 1);
}

.special:active {
  background-color: hsla(0, 0%, 100%, 1);
}


/* Operator and Equal */

.operator,
.equal {
  font-size: 2.1em;
  background-color: hsla(40, 100%, 50%, 1);
}



/* Operator */

.operator:active {
  background-color: hsla(40, 100%, 85%, 1);
}

.operator-active {
  color: hsla(40, 100%, 50%, 1);
  background-color: hsla(40, 100%, 100%, 1);
}


/* Equal */

.equal:active {
  background-color: hsla(40, 100%, 85%, 1);
}


